<div class="card">
  <h3>第87名</h3>
  <p>第-1屆懶趴伐西冠軍爭奪戰</p>
</div>

<style lang="scss">
  @import "../../scss/rwd.scss";

  .card {
    background-color: #303030;
    padding: 20px 50px;
    border-radius: 5px;

    @include mobile {
      min-width: 80svw;
    }

    h3 {
      font-size: 2rem;
      color: #006686;
      margin-bottom: 8px;
    }

    p {
      color: #a7a7a7;
      font-weight: 200;
    }
  }
</style>
