---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/navbar.astro";
import Mainview from "../components/mainview.astro";
import BlockAbout from "../components/BlockAbout.astro";
import BlockAward from "../components/BlockAward.astro";
import BlockSponsor from "../components/BlockSponsor.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Welcome to FRC 7130">
	<main>
		<Navbar />
		<Mainview />
		<BlockAbout />
		<BlockAward />
		<BlockSponsor />
		<Footer />
	</main>
</Layout>

<style></style>
