---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/navbar.astro";
import Mainview from "../components/mainview.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<Navbar />
		<Mainview />
	</main>
</Layout>

<style></style>
