---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/navbar.astro";
import Mainview from "../components/mainview.astro";
import BlockAbout from "../components/BlockAbout.astro";
import BlockAward from "../components/BlockAward.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<Navbar />
		<Mainview />
		<BlockAbout />
		<BlockAward />
	</main>
</Layout>

<style></style>
