---
---

<div class="about" id="about">
  <div class="content">
    <p>
      FRC7130是由明道中學的學生所組成之團隊。招募對機器人有熱情、有憧憬的人才加入團隊，首要目標包含爭奪歷年春旬世界FRC機器人競賽獎項。我們有很好的組織性，分為繪製機構圖、建造機構的機構組、以程式操控機器人的程式組及處理內外事務的行政組。在FRC7130中，每一個人都是不可缺少的，每個人都是一個小齒輪，而我們透過同心協力的讓這個系統成功轉動。各自發揮所長，這樣多元且有組織性的分配，不僅讓隊員能有條不紊的工作，也能在這樣氛圍的渲染下，更自發的專心增進自己專長能力。
    </p>
  </div>
</div>

<style lang="scss">
  @import "../scss/rwd.scss";
  .about {
    width: 100svw;
    height: 80svh;
    background-image: url("/group.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .content {
      width: 100%;
      height: 100%;

      display: flex;
      justify-content: center;
      align-items: center;

      background-color: #000000b2;

      padding: 0 45px;

      p {
        max-width: 1024px;
        letter-spacing: 2px;
        font-size: 1.2rem;
        line-height: 2rem;
        text-align: center;

        @include mobile {
          font-weight: 300;
        }
      }
    }
  }
</style>
