<div class="footer">
  <p>Copyright © FRC 7130. All rights reserved.</p>
</div>

<style lang="scss">
  .footer {
    background-color: #000000;
    padding: 20px 25px;

    p {
      color: #fff;
      text-align: center;
    }
  }
</style>
